<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="quartzTask" class="com.jfpal.report.quartz.QuartzTask"/>
    <bean id="autoTask" class="com.jfpal.report.quartz.AutoAllocateTask"/>

</beans>